<h1>Burgers!</h1>

<h2>Yummy Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are yummy!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{burger_name}}
  {{> burgers/burger-block devour=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/api/burgers" method="post" target="_blank">
  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>
  <button type="submit">Add Burger</button>
</form>

<script>$(document).ready(function () {
    $('button').click(function () {
      $.ajax({
        method: 'PUT',
        url: '/api/burgers/' + $(this).attr('data-id'),
      })
        .then(function () {
          location.relooad();
        }
          .catch(function (error) {
            console.error(error);
          });
    });
  }); 
</script>